@font-face {
  font-family: 'AvenirLTStd-Book';
  src: url('AvenirLTStd-Book.eot?#iefix') format('embedded-opentype'),  url('AvenirLTStd-Book.otf')  format('opentype'),
	     url('AvenirLTStd-Book.woff') format('woff'), url('AvenirLTStd-Book.ttf')  format('truetype'), url('AvenirLTStd-Book.svg#AvenirLTStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

html, body, div, a, h3, h4, h5 {
    font-family: "AvenirLTStd-Book", sans-serif !important;
}

.a-btn-2, .a-btn-3 {
    border-radius: 30px;
}

/* navigation */

.main-wrapper header .logo img {
    width: 120px;
}

.header_trans-fixed.menu_light_text .right-menu .mob-nav .hamburger i {
    color: #222222 !important;
}

.menu-item a {
    color: #222222 !important;
}

.menu-item .a-btn-2 {
    padding: 10px 20px !important;
    border-color: #222222;
}

.menu-item .a-btn-2:hover {
    color: #ffffff !important;
}

.right-menu #topmenu .menu li.menu-item-has-children i, #topmenu .menu li.menu-item-has-children i {
    display: none;
}

/* about */

.about {
    background: url("../images/home_about.jpg") center no-repeat;
    background-size: cover;
}

.about .headings {
    padding: 100px 0;
    color: #ffffff;
}

.about .headings h5 {
    color: #ffffff !important;
}

.about .phone {
    margin-bottom: -70px;
}

/* meditation */

.meditation {
    background: #f7f7f7;
}

.headings.text_link .subtitle {
    color: #222222;
}

.services.classic .img-wrap {
    min-height: 500px !important
}

/* personalize */

.personalize {
    background: #e5e5e5 url("../images/home_personal.png") center no-repeat;
    background-position: bottom center;
    background-size: contain;
    min-height: 850px;
}

.personalize .personal-icon {
    max-width: 200px;
}

.personalize .icon {
    height: 60px;
    margin: 0 20px;
}

/* meditation thoughts */

.headings.text_center .subtitle, .service-list-wrapper .text p {
    color: #222222 !important;
}

.service-list-item-wrap .content-wrap .a-btn-3 {
    border-color: #222222 !important;
}

/* about page */

.about-landing {
    background: url("../images/about_landing2.jpg") center no-repeat;
    background-size: cover;
    position: relative;
    height: 100vh;
}

.about-landing .about-slider .banner-slider-wrap.urban {
    max-width: 800px;
}

.about-slider .banner-slider-wrap.urban .subtitle {
    color: #222222 !important;
}

.about-slider .banner-slider-wrap.urban .title {
    color: #222222 !important;
}

.about-slider .banner-slider-wrap.urban .a-btn-2 {
    color: #222222;
    border-color: #222222;
}

.about-slider .banner-slider-wrap.urban .a-btn-2:hover {
    color: #ffffff !important;
}

.info {
    background: #f7f7f7;
}

.info-content .subtitle {
    margin: 0 !important;
    font-weight: bold;
}

.info-content h3.title {
    margin-top: 40px !important;
}

.info-content p.text {
    margin: 40px 0;
    letter-spacing: .2px;
    line-height: 1.73;
}

.info .services.center {
    padding: 0;
}

.info .services.center .content .text {
    color: #222222;
    font-size: 12px;
    letter-spacing: 0px;
}

.mission {
    background: url("../images/about_mission_bg.jpg") center no-repeat;
    background-size: cover;
    min-height: 900px;
}

/* immersive video page */

.immersive-landing {
    background: url("../images/about_landing2.jpg") center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

.about-slider .banner-slider-wrap.urban .text {
    color: #222222 !important;
}

/* register page */

.contacts-info-wrap.parallax_info .title-main {
    color: #222222;
}

.contacts-info-wrap.parallax_info p {
    margin: 30px 0;
}

.register .contacts-info-wrap .form input[type="submit"] {
    background: url("../images/button_bg.png") center no-repeat;
    background-size: contain;
    border: none;
}

.register .contacts-info-wrap .form input[type="submit"]:hover {
    color: #ffffff;
}

/* footer */

#footer .wiso-widget-copyright .img-wrap img {
    max-height: 30px;
}

#footer .sidebar-item li {
    margin-bottom: 5px;
}

@media (min-width: 1920px) {
    .about .headings {
        padding: 200px 50px;
    }

    .about .headings.headings-image {
        padding: 0 !important;
    }
}

@media (max-width: 1199px) {
    .about .headings {
        padding: 60px 0;
    }

    .personalize {
        min-height: 700px;
    }
}

@media (min-width: 1025px) {
    .logo-mobile {
        display: none;
    }

}

@media (max-width: 1024px) {
    .logo-desktop {
        display: none;
    }

    .menu-item .a-btn-2 {
        border: none;
    }

    .menu-item .a-btn-2:hover, .menu-item .a-btn-2:not( :hover ) {
        background: none;
    }
}

@media (min-width: 992px) {
    .phone-mobile {
        display: none;
    }
}

@media (max-width: 991px) {

    .banner-slider-wrap.urban .text {
        padding: 0 30px;
    }

    .headings.text_link .subtitle {
        padding: 0 30px;
    }

    .phone {
        display: none;
    }

    .phone-mobile {
        position: relative;
        bottom: -80px;
        margin-top: -100px;
    }

    .meditation .headings.text_link {
        padding-top: 100px;
    }
}

@media (min-width: 768px) {
    .swiper-mobile, .register-mobile, .about-phone-mobile, .immersive-landing-mobile {
        display: none;
    }
}

@media (max-width: 767px) {
    .mobile-button-bg {
        background: url("../images/button_bg.png") center no-repeat !important;
        background-size: contain;
        color: #ffffff !important;
        border-color: #ffffff !important;
    }

    .service-list-item-wrap .content-wrap .a-btn-3.mobile-button-bg {
        border-color: #ffffff !important;
    }

    .mobile-button-bg:hover {
        opacity: .9;
        border-color: #ffffff;
        color: #ffffff;
    }

    .swiper-desktop, .about-phone {
        display: none;
    }

    .headings.text_link .title, .headings.classic_text .title {
        padding: 0 30px;
    }

    .meditation .col-sm-4.margin-sm-30b {
        padding-left: 0;
        padding-right: 0;
    }

    .personalize {
        background: #e5e5e5 url("../images/home_personal_mobile.png") center no-repeat;
        background-position: bottom center;
        background-size: contain;
        min-height: 750px;
    }

    .info-content p.text {
        padding: 0 30px;
    }

    .info .services.center {
        padding: 15px;
    }

    .about-slider .banner-slider-wrap.urban .title {
        padding: 30px;
    }

    .about-phone-mobile {
        position: relative;
        z-index: 2;
    }

    .info {
        position: relative;
        padding-top: 200px;
    }

    .mission {
        min-height: 700px;
    }

    .immersive-landing {
        background: none;
        width: 100%;
        height: auto;
    }

    .contacts-info-wrap.parallax_info .content {
        padding: 40px 20px 30px;
    }

    .register-desktop {
        display: none !important;
    }
}

@media (max-width: 460px) {
    .info {
        padding-top: 400px;
    }
}

@media (max-width: 320px) {
    .personalize .icon {
        margin: 0 10px;
    }
}